{
    "DEBUG": "true",
    "SECRET_KEY": "django-insecure-&i_mwd5cho6yvk2#qgrw=$+!y0)x@-1w+iqu=#&(9ruimvrvzh",
    "HOST": "localhost",
    "DB_ENGINE": "django.db.backends.sqlite3",
    "DB_NAME": "db.sqlite3"
}
